/*RESET
-------------------------------------------------------------- */
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form,ul,li{margin:0;}
ul { padding:0;}
ol,li{margin:0; padding:0;}
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img { border: 0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal }
ol, ul { list-style: none }
del, ins { text-decoration: none }
caption, th { text-align: left }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
input, button, textarea, select { font-size: 100% ; outline: 0 }
q:before, q:after { content: '' }
acronym { border: 0; font-variant: normal }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sub { top: -0.5em; }
sup { bottom: -0.25em; }
/*CLEARFIX
-------------------------------------------------------------- */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/*POSITION
-------------------------------------------------------------- */
.tl { text-align: left }
.tc { text-align: center }
.tr { text-align: right }
.fl { float: left; display: inline }
.fr { float: right; display: inline }
.vm { vertical-align: middle; }
.pr { position: relative }
.pa { position: absolute }
.none { display: none }


/*main*/

html {
    height: 100%;
}
body {
    height: 100%;
    text-align: center;
}

h1, .nav-title {
    text-align: left;
    font-size: 25px;
    line-height: 25px;
}
h2, div.editor{
    font-size: 20px;
    line-height: 20px;

}

button {
    border: 0;
    margin: 0;
    padding: 0;
}

.nav-title {
    color: darkred;
}
.ctg,.tsk,.td {
    position: relative;
    width: 300px;
    height: 500px;

    margin-left: auto;
    margin-right: auto;
}
.td {
    width: 800px;

}
.ctg {
    float: left;
    background-color: aqua;
}


.tsk {
    float: left;

    background-color: aquamarine;
}
.filter {
    width: 100px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;

}

.td {
    float: left;

    background-color: darkred;
}
.td-status-true {
    color: black;

}
.td-status-false {
    color: darkred;

}
div.nav-td-title {
    width: 800px;
    font-size: 30px;
    line-height: 30px;
}
div.nav-td-title>div {
    width: 40%;
    height: 30px;
    float: left;
    background-color: darkred;
}
div.nav-td-title>button {
    width: 10%;
    height: 30px;
    float: right;
    background-color: darkred;
}

div.nav-td-body {
    height: 300px;
    background-color: bisque;
}


#confirm-btn, #cancel-btn{
    background-color: red;
    position: absolute;
    left:0;bottom: 0;width: 50%;height: 50px;
    font-size: 50px;
    line-height: 50px;
    text-align: center;

}
#confirm-btn {
    left: 0;

}
#cancel-btn{
    left:50%;
}
.add {
    background-color: red;
    position: absolute;
    left:0;bottom: 0;width: 300px;height: 50px;
    font-size: 50px;
    line-height: 50px;
    text-align: center;

}